.one{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.two{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.three{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.four{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.five{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.six{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.seven{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.eight{
    width: 100%; height: 200px; border-radius: 0 0 0 0;
}
.tmdm{
    background-color: #cb4601;
}
.white{
    color:white;
}
.apple{
    width:100%;
    height:200px;
}